@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "src/sass/variables";

.navbar {
  background-color: $bg-gray;
}

.card-columns {
  column-count: 1;
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    column-count: 2;
  }

  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
}

.dropdown-item {
  cursor: pointer;
}