<div class="container">
  <form class="mt-5" [formGroup]="formGroup" (submit)="formSubmit()">
    <div class="form-group">
      <div class="d-flex">
        <button type="button" class="btn btn-success mr-3" (click)="newTag()">+ new tag</button>
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownTags" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" (click)="toggleDropdownTags()">
            Choose tag ...
          </button>
          <ul class="dropdown-menu" [ngClass]="{'d-block': tagsModeOpen}" aria-labelledby="dropdownTags">
            <li *ngFor="let item of tags" class="dropdown-item" (click)="tagClick(item)">
              {{item.tag}}
            </li>
          </ul>
        </div>
        <input class="form-control-plaintext ml-3" type="text" [value]="currentTag" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Source:</label>
      <input type="text" class="form-control" id="source" placeholder="source" formControlName="source">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Text:</label>
      <textarea class="form-control" id="text" rows="10" formControlName="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">New article</button>
    <p class="error">{{error}}</p>
  </form>
</div>
