<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <picture>
          <source srcset="assets/img/me.png" media="(min-width: 768px)">
          <img class="about__img" src="assets/img/me-sm.png" alt="me">
        </picture>
      </div>
      <div class="col-12 col-lg-6">
        <div class="about__text-wrapper">
          <p class="about__title">
            <span class="about__bold">Hi, </span>
            my name is Alex
          </p>
          <p class="about__text">
            <span class="about__bold">
              I’m Web developer
            </span>
            based in Moscow, Russia.
          </p>
          <p class="about__text">
            <span class="about__bold">
              I have a diverse set of skills,
            </span>
            ranging from HTML 5, CSS 3 (Sass, Less and so on), Javascript to Angular 2+ and NodeJS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
