@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/mixins";
@import "~src/sass/variables";

.about {
  padding-top: 3rem;
  background-color: $bg-gray;
}

.about__container {
  height: 40rem;
}

.about__img-wrapper {
  position: relative;
}

.about__img {
  display: block;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 100;

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  z-index: 110;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-top: 30rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.about__bold {
  font-weight: $font-weight-bold;
}

.about__title {
  font-size: $h3-font-size;
  align-self: center;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }

  @include media-breakpoint-up(lg) {
    align-self: flex-start;
  }
}

.about__text {
  font-size: $h6-font-size;
  color: $text-gray;
}


/////////////////////////////////////////
// section: hiring
.hiring {
  background-color: $bg-gray;
  position: relative;
  z-index: 90;

  @include media-breakpoint-up(md) {
    padding-top: 20rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 20rem;
  }
}

.hiring__container {
  height: 35rem;

  @include media-breakpoint-up(md) {
    height: 40rem;
  }

  @include media-breakpoint-up(lg) {
    height: 35rem;
  }
}

.hiring__title {
  font-size: $h3-font-size;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }

  @include media-breakpoint-up(lg) {
    text-align: end;
  }
}

.hiring__text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  color: $text-gray;

  @include media-breakpoint-up(lg) {
    justify-content: center;
  }
}

.hiring__img-wrapper {
  position: relative;
}

.hiring__img {
  display: block;
  position: absolute;
  left: 1rem;
  bottom: -15rem;

  @include media-breakpoint-up(md) {
    bottom: -35rem;
  }
}


/////////////////////////////////////////
// section: skills
.skills {
  background-color: $bg-gray;
  position: relative;
  z-index: 80;
}

.skills__container {
  height: 20rem;
}