<section class="about">
  <div class="container about__container">
    <div class="row h-100 mx-0">
      <div class="col-12 col-lg-6 about__img-wrapper">
        <picture>
          <source srcset="assets/img/me.png" media="(min-width: 768px)">
          <img class="about__img" src="assets/img/me-sm.png" alt="me">
        </picture>
      </div>
      <div class="col-12 col-lg-6">
        <div class="about__text-wrapper">
          <p class="about__title">
            <span class="about__bold">Hi, </span>
            my name is Alex
          </p>
          <p class="about__text">
            <span class="about__bold">
              I’m Web developer
            </span>
            based in Moscow, Russia.
          </p>
          <p class="about__text">
            <span class="font-weight-bold">
              I have a diverse set of skills,
            </span>
            ranging from HTML 5, CSS 3 (Sass, Less and so on), Javascript to Angular 2+ and NodeJS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hiring">
  <div class="container hiring__container">
    <p class="hiring__title">
      <span class="font-weight-bold">About</span>Me
    </p>
    <div class="row h-100 mx-0">
      <div class="col-12 col-lg-6">
        <div class="hiring__text-wrapper">
          <p class="font-weight-bold">My soft skills:</p>
          <ul class="hiring__list">
            <li>Willingness and ability to learn from other people</li>
            <li>Willing to take on additional responsibilities</li>
            <li>Readiness for constructive criticism</li>
            <li>Сonstantly getting new skills</li>
            <li>Skills for problem solving</li>
            <li>Knack for teamwork</li>
            <li>Critical thinking</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 hiring__img-wrapper">
        <picture>
          <source srcset="assets/img/hiring.png" media="(min-width: 768px)">
          <img class="hiring__img" src="assets/img/hiring-sm.png" alt="me">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="skills">
  <div class="container skills__container">
    <p class="skills__title">
      <span class="font-weight-bold">My</span>Skills
    </p>
    <div class="row">
      <div class="col-12 col-lg-6 position-relative">
        <div class="row">
          <div class="col-4">
            <img class="skills__img skills__img--html" src="assets/img/html.png" alt="html">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--css" src="assets/img/css.png" alt="css">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--sass" src="assets/img/sass.png" alt="sass">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img class="skills__img skills__img--js" src="assets/img/js.png" alt="js">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--less" src="assets/img/less.png" alt="less">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--bootstrap" src="assets/img/bootstrap.png" alt="bootstrap">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img class="skills__img skills__img--angular" src="assets/img/angular.png" alt="angular">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--node" src="assets/img/node.png" alt="node">
          </div>
          <div class="col-4">
            <img class="skills__img skills__img--php" src="assets/img/php.png" alt="php">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <table class="table skills__table">
          <tbody>
            <tr>
              <td class="font-weight-bold">HTML 5</td>
              <td>
                It’s skeleton of website
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">CSS 3</td>
              <td>
                Styling website
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">
                Sass, Less and others preprocessors
              </td>
              <td>
                Helps keep styles maintainable, well-organized and running quickly
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Twitter Bootstrap</td>
              <td>
                Powerful CSS Framework for building responsive, mobile-first sites
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Javascript</td>
              <td>
                Makes your website smart and user-friendly
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">Angular 2+</td>
              <td>
                Powerful platform for building web applications on Javascript (Typescript) language from scratch
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">NodeJS</td>
              <td>
                It's an open source server environment, runs on various platforms (Windows, Linux, Unix, Mac OS X, etc.) and uses JavaScript
                on the server
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">PHP</td>
              <td>
                It's a popular scripting language that is especially suited to web development, powers everything from your blog to the most
                popular websites in the world
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <a id="projects"></a>
  <div class="container">
    <p class="projects__title">
      <span class="font-weight-bold">My</span>Projects
    </p>
    <app-projects-carousel></app-projects-carousel>
  </div>
</section>

<section class="contact">
  <div class="container position-relative">
    <p class="contact__title">
      <span class="font-weight-bold">Contact</span>Me
    </p>
    <div class="row">
      <div class="col-12 position-relative">
        <picture>
          <source srcset="assets/img/me-bottom.png" media="(min-width: 768px)">
          <img class="contact__image" src="assets/img/me-bottom-sm.png" alt="me">
        </picture>
      </div>
      <div class="col-12 col-md-3 col-lg-6"></div>
      <div class="col-12 col-md-9 col-lg-6">
        <table class="table table-borderless contact__table">
          <tbody>
            <tr>
              <td>
                <img src="assets/img/gmail.png" alt="mail">
              </td>
              <td class="d-none d-sm-table-cell">
                E-mail
              </td>
              <td>
                <a class="contact__list-link" href="mailto:al.ovchinkin@gmail.com">al.ovchinkin@gmail.com</a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/img/skype.png" alt="mail">
              </td>
              <td class="d-none d-sm-table-cell">
                Skype
              </td>
              <td>
                <span class="contact__list-link">autologin_alex</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<footer>
  <img src="assets/img/ellipse_nav.png" alt="ellipse">
  <span>
    &#169;2018 
    <span class="font-weight-bold">AlexOvchinkin.</span>
    Design: <a href="http:\\miridea.ru">miridea.ru</a>
  </span>
</footer>
