<section class="about">
  <div class="container about__container">
    <div class="row h-100 mx-0">
      <div class="col-12 col-lg-6 about__img-wrapper">
        <picture>
          <source srcset="assets/img/me.png" media="(min-width: 768px)">
          <img class="about__img" src="assets/img/me-sm.png" alt="me">
        </picture>
      </div>
      <div class="col-12 col-lg-6">
        <div class="about__text-wrapper">
          <p class="about__title">
            <span class="about__bold">Hi, </span>
            my name is Alex
          </p>
          <p class="about__text">
            <span class="about__bold">
              I’m Web developer
            </span>
            based in Moscow, Russia.
          </p>
          <p class="about__text">
            <span class="font-weight-bold">
              I have a diverse set of skills,
            </span>
            ranging from HTML 5, CSS 3 (Sass, Less and so on), Javascript to Angular 2+ and NodeJS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hiring">
  <div class="container hiring__container">
    <p class="hiring__title">
      <span class="font-weight-bold">About</span>Me
    </p>
    <div class="row h-100 mx-0">
      <div class="col-12 col-lg-6">
        <div class="hiring__text-wrapper">
          <p class="font-weight-bold">My soft skills:</p>
          <ul>
            <li>Knack for teamwork</li>
            <li>Сonstantly getting new skills</li>
            <li>Skills for problem solving</li>
            <li>Critical thinking</li>
            <li>Willing to take on additional responsibilities</li>
            <li>Willingness and ability to learn from other people</li>
            <li>Readiness for constructive criticism</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 hiring__img-wrapper">
        <picture>
          <source srcset="assets/img/hiring.png" media="(min-width: 768px)">
          <img class="hiring__img" src="assets/img/hiring-sm.png" alt="me">
        </picture>
      </div>
    </div>
  </div>
</section>

<section class="skills">
  <div class="container skills__container">

  </div>
</section>
