<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <img class="navbar-toggler__img" src="assets/img/menu-img.png" alt="menu">
    </button>
    <a class="navbar-brand" href="/">
      <img src="assets/img/ellipse_nav.png" class="navbar-brand__img" alt="brand">
      <span class="navbar-brand__text navbar-brand__name">Alex</span>
      <span class="navbar-brand__text">Ovchinkin</span>
    </a>

    <div class="collapse navbar-collapse" [ngClass]="{'show': show}" id="navigation">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item" [ngClass]="{'d-none': !smallMenu}">
          <a class="nav-link" href="/">About me</a>
        </li>
        <li class="nav-item" [ngClass]="{'d-none': smallMenu}">
          <a class="nav-link" href="#">About me</a>
        </li>
        <li class="nav-item" [ngClass]="{'d-none': smallMenu}">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item" [ngClass]="{'d-none': smallMenu}">
          <a class="nav-link" [routerLink]="['profile']" fragment="projects" (click)="onLinkClick()">
            Projects
          </a>
        </li>
        <li class="nav-item nav-item--outline">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item nav-item--contact">
          <a class="nav-link" href="#">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin"><img src="assets/img/sign-in.png" alt="sign in"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
